#melon {
    background-color: rgb(255, 146, 73);
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 150%;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-decoration: underline;
    }
p {
    font-size: 100%;
    color: rgb(17, 17, 17);
  
}
