body {
    background-color: rgb(24, 182, 255);
}

h1{
    font-size: 250%;
    color: rgb(146, 17, 17);
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}

h2{
    text-align: center;
    color: rgb(3, 128, 20);
}

P{
    font-style: oblique;
}

#l1{
    color: rgb(255, 81, 81);
    font-style: oblique;
}

.l2{
    color: rgb(129, 55, 55);
    font-style: oblique;
    text-decoration: underline;
}