body {
    background-color: rgb(184, 233, 255);
}

h1{
    font-size: 250%;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}


P{
        font-style: oblique;
}

